.cursor {
  color: greenyellow;
  animation: blinkingcursor infinite 0.5s ease-in-out;
}

@keyframes blinkingcursor {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.iamAnimation {
  /* display: inline-block; */
  /* width: 20px; */
  overflow: hidden;
}
